/* Defining the colors that will be used in the website. */
:root{
    --color_light_black: #313131;
    --color_black: #000000;/*Color negro*/
    --color_black_tras: #00000059;/*Color negro con transparencia*/
    --color_pink: #ffa3bf;
    --color_dark_pink: #ff067a;
    --color_light_pink: #ffd7e3;
    --color_blue_opaco: #006d0f;
    --color_green: #02d61e;/*Color verde claro*/
    --color_grey: #686666;/*Color Gris*/
    --color_dark_grey: #26472a;
    --color_red: #ff0000;/*Color rojo*/
    --color_red_tras: #b60101;/*Color rojo con transparencia*/
    --color_white: #ffffff;/*Color blanco*/
    --color_white_tras: #f1f1f1;/*Color blanco "sucio" ó gris muy muy claro*/
}